// Colors
$light: #FFFFFF;
$dark: #0E0E1A;
$accent: #FF3000;
$text: #121212;
$grayDark: #3A3A39;
$grayLight: #F1F1F1;


// Fonts
$font-main-medium: "Roboto Medium", sans-serif;
$font-main-regular: "Roboto Regular", sans-serif;


$font-accent-medium: "Futura PT Medium", sans-serif;
$font-accent-bold: "Futura PT Bold", sans-serif;
$font-accent-extra: "Futura PT Extra", sans-serif;
$font-accent-book: "Futura PT Book", sans-serif;

