<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab amet aut deserunt error esse exercitationem
          expedita id minus non officia quod, recusandae repudiandae suscipit vel. Consectetur magni neque nostrum.</p>
        <svg>
          <use xlink:href="./assets/sprite.svg#icon-user"></use>
        </svg>
        <label>
          <input type="email">
        </label>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>